body {
    background-color: #efeee7;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333333;
}

h1 {
    color: #eee;
    font-size: 28px;
    margin-top: 0;
    margin-bottom: 0;
    height: 50px;
    text-align: center;
    padding-top: 10px;
}

h2 {
    font-size: 24px;
}

.container {
    margin: 0 auto;
}

#bio, #contact, #pic {
    float: left;
}

#pic {
    width: 200px;
}

#bio {
    width: 70%;
}

#contact {
    width: 30%;
    line-height: 1.5;
}

a {
    color: #d21034;
}

img, h2 {
    margin-right: 20px;
    margin-left: 20px;
}